<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h4>Hinda CHOKRI</h4><br>
        </div>
        <img src="assets/images/Hinda.jpeg" alt="Soufiane FADIL">
    </div>
<br>
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Rendez-Vous</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/offres">Offres</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">Clients</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

</mat-nav-list>
